@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--hanken);
}
:root{
    --hanken: 'Hanken Grotesk', sans-serif;
}
main{
    height: 100vh;
    background-color: #ffffff;
    display: grid;
}
.score{
    min-height: 43vh;
    width: 94vw;
    background-image: linear-gradient(to bottom, #7857ff, #1f1ce9);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 60px;
    text-align: center;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 23px;
}
.score > div{
    background-color: #000000;
    padding: 38px;
    width: 169px;
    border-radius: 50%;
    margin: auto;
    background-image: linear-gradient(to top, #653ffd, #2e2be8);
}
.score h1, p{
    color: #cecece;
}
h1{
    font-size: 30px;
    font-weight: 900;
    color: #ffffff;
}
p{
    font-size: 19px;
}
strong{
    font-size: 55px;
    color: #ffffff;
}
.summary{
    padding: 30px;
    display: grid;
    gap: 24px;
}
.summary > div{
    display: flex;
    justify-content: space-between;
    gap: 69px;
    padding: 20px 15px;
    border-radius: 15px;
}
.summary > div:hover{
    transform: scale(1.1);
    transition: ease-in-out 1s;
    cursor: pointer;
    box-shadow: 1px 1px 10px #000000;
}
.summary > div:hover img{
    transform: rotate(360deg);
    transition: ease-in-out 1s;
}
.resultados:hover{
    padding: 20px;
    background-color: #0000ff4a;
    transition: ease-in-out 1s;
    cursor: pointer;
    border-radius: 30px;
}
.resultados{
    padding-bottom: 10px;
    color: #000000;
    font-weight: 900;
}
.reaction{
    background-color: #ff575735;
}
.quesito-reaction{
    color: red;
    font-weight: 800;
}
.memory{
    background-color: #ffff0089;
}
.quesito-memory{
    color: #969603;
    font-weight: 800;
}
.verbal{
    background-color: #0080005d;
}
.quesito-verbal{
    color: #008000;
    font-weight: 800;
}
.visual{
    background-color: #0000ff50;
}
.quesito-visual{
    color: #0000ff;
}
.nota-total{
    color: #ffffff7d;
}
span{
    color: #0000006b;
}
.resultado-final{
    color: #000000;
    font-weight: 800;
}
.barra{
    margin: 0px 10px;
}
#icone{
    display: flex;
}
img{
    margin-right: 6px;
}
button{
    padding: 24px;
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    font-weight: 800;
    border-radius: 40px;
}
button:hover{
    background-color: #1f1ce9;
    cursor: pointer;
}
footer{
    display: grid;
    justify-content: center;
}
footer > p{
    color: #000000;
    margin: auto;
    padding: 30px;
}
a{
    text-decoration: none;
    color: #000000;
}

