@media screen and (min-width: 768px){
    .container{
        max-width: 750px;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    article{
        max-height: 500px;
    }
}